.container-detail {
  display: inline-block;
  width: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid rgb(19, 18, 18);
  text-transform: uppercase;
  border-radius: 22px;
  padding: 40px;
  margin-top: 25px;
}

.img-detail {
  width: 360px;
}

.name {
  margin-bottom: 12px;
}
