.search {
  border-radius: 9px;
  padding: 10px 15px 10px 15px;
  margin-top: 10px;
}

.boton {
  margin: 7px;
  width: 72px;
  height: 42px;
  border-radius: 13px;
  outline: none;
  transition-duration: 0.4s;
}

.boton:hover {
  cursor: pointer;
  color: rgb(12, 12, 12);
  background: #1715182f;
}
