body {
  /* width: 100%; */
  background-image: url("../../img/home.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

html {
  height: 100%;
  width: 100%;
}
/* .btn {
  font-family: "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  position: relative;
  display: inline-block;
  margin: 20%;
  padding: 15px 30px;
  background-color: #e694ff;
  color: ivory;
  letter-spacing: 4px;
  font-size: 24px;
  text-decoration: none;
  overflow: hidden;
  transition: 1s;
  border: none;
  border-radius: 2px;
} */

.btn-landing:hover {
  cursor: pointer;
  background: #d8b61d;
}

.container-landing-page {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 300px;
}

.btn-landing {
  padding: 12px;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
