body {
  /* background-image: url("../../img/home.jpg"); */
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

html {
  height: 100%;
  width: 100%;
}

.btn-landing:hover {
  cursor: pointer;
  background: #d8b61d;
}

.container-landing-page {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 300px;
}

.btn-landing {
  padding: 12px;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
