.nav {
  height: 130%;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -27px;
  padding-left: 30px;
}

/* Button Style */
.create {
  cursor: pointer;
  outline: none;
  text-decoration: none;
  border: none;
  padding: 16px 32px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 1;
  border-radius: 8px;

  background-image: linear-gradient(130deg, #dbd82a 40%, #18191b 90%);
  background-position: 90% 0;
  background-size: 200% 200%;
  box-shadow: 0 2px 8px -1px #000000;
  transition: all 0.5s ease;
}

.create:hover {
  box-shadow: 0 0px 0px 0 rgba(0, 40, 120, 0);
  background-position: 0 0;
}
